<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div style="width: 500px; margin: auto; padding-top: 150px; padding: 30px;">
    <form class="form-signin" method="POST" action="/forgotpassword">
      <img class="mb-4" src="/images/teamsix.png" alt="" width="100px" height="100px" padding-top="10px">
      <h1 class="h3 mb-3 font-weight-normal">Please Type New Password</h1>
      <label for="customer_email" class="sr-only">Email address</label>
      <input type="email" name="customer_email" id="customer_email" class="form-control" placeholder="Email address" required autofocus>
      <br>
      <label for="inputPassword" class="sr-only">New Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="New Password" required autofocus>
      <br>
      <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
      <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button><br>.
    </form>
  </div>
  </body>
</html>
